---

---

<div class="flex w-full text-center py-20 sm:py-28 px-4">
    <div class="flex flex-col items-center gap-4 w-full max-w-3xl ">
        <h2 class="text-4xl md:text-5xl font-bold text-custom-charcoal font-serif">
            Preparado Para Experimentar a Beleza das Flores?
        </h2>

        <p class="text-lg text-custom-charcoal">
            Compre seus buquês e flores em Nanda Flores e ganhe 10% de desconto.
        </p>

        <a href="/catalog" class="block max-w-48 bg-custom-charcoal text-white font-semibold px-10 py-3 rounded-full hover:bg-opacity-90 transition-colors duration-300">
            Comprar Agora
        </a>
    </div>
</div>