---
import { Image } from 'astro:assets';
import { Star} from 'lucide-react';

export interface Props {
    imageUrl: string;
    name: string;
    price: number;
    rating: number;
}

const { imageUrl, name, price, rating } = Astro.props;
---
<div class="flex flex-col  gap-2 max-w-72 p-2">
    
    <div class="relative w-64 h-64">
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-[85%] h-[85%] bg-custom-coral/40 rounded-t-full z-0"></div>
        
        <div class="absolute inset-0 flex items-center justify-center z-10">
            <Image 
                src={imageUrl} 
                alt={`Buquê de ${name}`} 
                width={400} 
                height={400} 
                class="object-contain w-full h-full drop-shadow-md"
            />
        </div>
    </div>

    <div class="flex flex-col w-full">
        <span class="text-xl text-custom-charcoal font-bold">{name}</span>

        <div class="flex w-full justify-between text-custom-slate-gray">
            <span>R$ {price.toFixed(2).replace('.', ',')}</span>
            <span class="flex items-center gap-1">
                <span class="text-yellow-300">
                    <Star fill="currentColor" size={16}/>
                </span>
                {rating.toFixed(1)}
            </span>
        </div>
    </div>

    <a href="/catalog" class="text-custom-slate-gray font-bold text-lg py-2 self-center hover:brightness-90 transition duration-300">
        Veja Mais
    </a>
</div>