---
import ButtonLink from "../ui/ButtonLink.astro";


---

{/* seção chamativa */}
<section class="flex w-full max-w-384 justify-around items-center flex-col gap-4 md:gap-0 md:flex-row py-16 sm:py-32 px-4 sm:px-6">
    <h2 class="max-w-120 font-playfair-display text-2xl text-center md:text-start sm:text-4xl md:text-5xl font-bold">
        Descubra nossos melhores produtos
    </h2>
    <ButtonLink
        href="/catalog"
        variant="outline"
        pill="true"
        size="xl"
    >
       Acesse nosso catálogo
    </ButtonLink>
</section>