---
import ReviewCard from "../home_page/ReviewCard.astro"
---  
<section class="w-full relative h-128 sm:h-188 md:h-236 lg:h-316 max-w-384 flex flex-col py-0 sm:py-12">

    <h1 class="relative font-medium text-3xl sm:text-4xl lg:text-6xl font-playfair-display text-center">
        Um Paraíso de Flores<br>Perto <span class="text-primary-fg">de Você</span>
    </h1>

    <div class="absolute inset-0 pointer-events-none bg-[url('/images/girassol-bg.png')]
        bg-no-repeat bg-center bg-[length:248px] sm:bg-[length:324px] md:bg-[length:440px] lg:bg-[length:600px]">
    </div>

    <div class="w-full flex flex-col items-center justify-center z-10 px-4 sm:px-8 lg:px-16">
        <div class="order-1 sm:order-0 flex flex-row w-full justify-between">
            <p class="max-w-24 sm:max-w-38 md:max-w-48 lg:max-w-60 text-xs md:text-sm lg:text-base text-center sm:text-start text-muted-fg">
                Conheça a Nanda Flores, onde cada buquê criado transmite emoção e amor
            </p>
            <p class="max-w-24 sm:max-w-38 md:max-w-48 lg:max-w-60 text-xs md:text-sm lg:text-base text-center sm:text-start text-muted-fg pt-4">
                Criamos buquês, arranjos e cestas estonteantes para todas as ocasiões
            </p>
        </div>
        <div class="pt-48 pb-2  order-0 sm:order-1">
            <a href="/catalog" class="text-default-fg border-primary-border font-medium text-sm px-4 py-2 md:py-3 md:px-8 rounded-full hover:brightness-90 transition duration-300 border-3 border-custom-charcoal">
                Ver Catálogo
            </a>
        </div >

        {/* 

    
        <div class="flex w-full justify-around py-4">
              <ReviewCard title="Flores Frescas" description="Nossas flores são colhidas constantemente para garantir que estejam frescas e na melhor qualidade."></ReviewCard>
            <ReviewCard margin="ml-6" title="Material Sustentável" description="Nossa loja é comprometida com práticas ecológicas, desde colheita ao empacotamento dos buquês."></ReviewCard>
        </div>

        <div class="flex w-full justify-between py-4">
            <ReviewCard margin="ml-8" title="Arranjos Artísticos" description="Criamos buquês únicos, artísticos e belos, para qualquer dia ou ocasião especial."></ReviewCard>
            <ReviewCard title="Ouvimos os Clientes" description="Sua satisfação é nossa maior prioridade, fazemos de tudo para entregar os melhores produtos à você."></ReviewCard>
        </div>*/}
        
    </div>


</section>

