---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="Catálogo de Buquês e Arranjos Florais - Nanda Flores" description="Explore nosso catálogo completo de buquês de rosas, arranjos florais, orquídeas e muito mais. Encontre o presente perfeito para qualquer ocasião. Veja as opções!">
	<Header/>
	<main class="container">
		catalog
	</main>
</Layout>
