---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="Contato e Endereço - Nanda Flores" description="Encontre o endereço, telefone e horário de funcionamento da Nanda Flores em Angra dos Reis. Venha nos visitar ou entre em contato para fazer seu pedido.">
	<Header/>
	<main class="container">
		how-to-reach
	</main>
</Layout>
