
---
import Layout from '../layouts/Layout.astro';
import Header from "../layouts/Header.astro";
import Footer from '../components/Footer.astro';

import Testimonials from '../components/home_page/Testimonials.astro';
import ProductSection from '../components/home_page/ProductSection.astro';
import CallToAction from '../components/home_page/CallToAction.astro';
import HeroSection from '../components/landing-page/HeroSection.astro';
import CtaSection from '../components/landing-page/CtaSection.astro';

---

<Layout>
	<Header />
	<div class="absolute top-0 left-1/2 -translate-x-1/2 h-100 sm:h-150 w-full max-w-88 sm:max-w-108 md:max-w-160 bg-gradient-to-b from-[var(--primary-100)] to-transparent"/>
	<main class="w-full flex flex-col items-center text-default-fg bg-neutral">
		<HeroSection />

		<CtaSection />

		{/* seção melhores produtos */}
		<section class="flex w-full py-8 justify-center px-4 sm:px-12 lg:px-18">
			<ProductSection/>
		</section>

		{/* seção comentários dos clientes */}
		<section>
			<Testimonials/>
		</section>

		<section>
			<CallToAction/>
		</section>
		
	</main>
	<Footer/>
</Layout>



