---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="Nanda Flores - Floricultura em Angra dos Reis - Buquês e Arranjos" description="Procurando flores em Angra dos Reis? A Nanda Flores cria buquês, arranjos e cestas para todas as ocasiões. Surpreenda quem você ama. Peça já o seu!">
	<Header/>
	<main class="container">
		home
	</main>
</Layout>
