
---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ReviewCard from "../components/home_page/ReviewCard.astro"

import Testimonials from '../components/home_page/Testimonials.astro';
import ProductSection from '../components/home_page/ProductSection.astro';
import CallToAction from '../components/home_page/CallToAction.astro';
import HeroSection from '../components/landing-page/HeroSection.astro';

---

<Layout>
	<Header/>
	{/* gradient que vem do topo da página, precisa ficar antes do header */}
	<div class="absolute top-0 left-1/2 -translate-x-1/2 h-100 sm:h-150 w-full max-w-160 bg-gradient-to-b from-custom-soft-amber/60 to-transparent"/>
	

	<main class="w-full flex flex-col items-center text-default-fg">
		<HeroSection/>

		{/* seção de comentários pro mobile */}
		<section class="flex flex-col sm:flex-row justify-around items-center sm:items-start gap-2 lg:hidden text-center container pt-4 md:pt-8">
			<ReviewCard title="Flores Frescas" description="Nossas flores são colhidas constantemente para garantir que estejam frescas e na melhor qualidade."></ReviewCard>
			<ReviewCard title="Arranjos Artísticos" description="Criamos buquês únicos, artísticos e belos, para qualquer dia ou ocasião especial."></ReviewCard>
		</section>

		{/* seção chamativa */}
		<section class="container justify-around items-center flex-col gap-2 sm:gap-0 sm:flex-row flex py-4 sm:py-16">
			<span class="font-playfair-serif text-2xl text-center sm:text-start sm:text-4xl md:text-5xl font-bold">Descubra Nossos<br>Melhores Produtos</span>
			<a href="/catalog" class="text-custom-slate-gray border-custom-slate-gray font-black text-sm px-4 py-2 md:py-3 md:px-8 rounded-full hover:brightness-90 transition duration-300 border-3">
				Acesse Nosso Catálogo
			</a>
		</section>

		{/* seção melhores produtos */}
		<section class="flex w-full py-8 justify-center px-4 sm:px-12 lg:px-18">
			<ProductSection/>
		</section>

		{/* seção comentários dos clientes */}
		<section>
			<Testimonials/>
		</section>

		<section>
			<CallToAction/>
		</section>
		
	</main>

	
	<Footer/>
</Layout>



