---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="Locação de Van com Equipe e Outros Serviços - Nanda Flores" description="Além de flores, temos vans e micro-ônibus executivos para todo tipo de serviço que você ou sua empresa necessite.">
	<main class="container">
		other-services
	</main>
</Layout>
